<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working Locally using anaconda, please uncomment the following code and execute it.
Use the version as per your python version.

In [18]:
!pip install yfinance
!pip install bs4
!pip install nbformat

Requirement already satisfied: yfinance in /opt/conda/lib/python3.11/site-packages (0.2.48)
Requirement already satisfied: pandas>=1.3.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.1.2)
Requirement already satisfied: requests>=2.31 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.2.1)
Requirement already satisfied: pytz>=2022.5 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/conda/lib/python3.11/site-packages (from yfinance) (3.17.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.9.0)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.6.2)
Requirement already satisfied: bs4 in /opt/conda/lib/python3.11/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.11/site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.11/site-packages (from beautifulsoup4->bs4) (2.5)
Requirement already satisfied: nbformat in /opt/conda/lib/python3.11/site-packages (5.10.4)
Requirement already satisfied: fastjsonschema>=2.15 in /opt/conda/lib/python3.11/site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in /opt/conda/lib/python3.11/site-packages (from nbformat) (4.22.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /opt/conda/lib/python3.11/site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in /opt/conda/lib/python3.11/site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in /opt/conda/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/conda/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/conda/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/conda/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: platformdirs>=2.5 in /opt/conda/lib/python3.11/site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.2.1)

In [19]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [20]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. **You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.**

In [21]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

Use the make_graph function that we’ve already defined. You’ll need to invoke it in questions 5 and 6 to display the graphs and create the dashboard. 
> **Note: You don’t need to redefine the function for plotting graphs anywhere else in this notebook; just use the existing function.**

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [22]:
!pip install yfinance
import yfinance as yf

Requirement already satisfied: yfinance in /opt/conda/lib/python3.11/site-packages (0.2.48)
Requirement already satisfied: pandas>=1.3.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.1.2)
Requirement already satisfied: requests>=2.31 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.2.1)
Requirement already satisfied: pytz>=2022.5 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /opt/conda/lib/python3.11/site-packages (from yfinance) (3.17.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.9.0)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2024.6.2)

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [23]:
tesla_ticker = yf.Ticker("TSLA")

# Verificar la información general de Tesla
info = tesla_ticker.info
#print(info)

historial_tesla = tesla_ticker.history(period="1mo")  # Puedes cambiar el periodo
print(historial_tesla)

                                 Open        High         Low       Close  \
Date
2024-09-30 00:00:00-04:00  259.040009  264.859985  255.770004  261.630005
2024-10-01 00:00:00-04:00  262.670013  263.980011  248.529999  258.019989
2024-10-02 00:00:00-04:00  247.550003  251.160004  241.500000  249.020004
2024-10-03 00:00:00-04:00  244.479996  249.789993  237.809998  240.660004
2024-10-04 00:00:00-04:00  246.690002  250.960007  244.580002  250.080002
2024-10-07 00:00:00-04:00  249.000000  249.830002  240.699997  240.830002
2024-10-08 00:00:00-04:00  243.559998  246.210007  240.559998  244.500000
2024-10-09 00:00:00-04:00  243.820007  247.429993  239.509995  241.050003
2024-10-10 00:00:00-04:00  241.809998  242.789993  232.339996  238.770004
2024-10-11 00:00:00-04:00  220.130005  223.339996  214.380005  217.800003
2024-10-14 00:00:00-04:00  220.130005  221.910004  213.740005  219.160004
2024-10-15 00:00:00-04:00  220.009995  224.259995  217.119995  219.570007
2024-10-16 00:00:00-04:00  221.399994  222.820007  218.929993  221.330002
2024-10-17 00:00:00-04:00  221.589996  222.080002  217.899994  220.889999
2024-10-18 00:00:00-04:00  220.710007  222.279999  219.229996  220.699997
2024-10-21 00:00:00-04:00  218.899994  220.479996  215.729996  218.850006
2024-10-22 00:00:00-04:00  217.309998  218.220001  215.259995  217.970001
2024-10-23 00:00:00-04:00  217.130005  218.720001  212.110001  213.649994
2024-10-24 00:00:00-04:00  244.679993  262.119995  242.649994  260.480011
2024-10-25 00:00:00-04:00  256.010010  269.489990  255.320007  269.190002
2024-10-28 00:00:00-04:00  270.000000  273.540009  262.239990  262.510010

                              Volume  Dividends  Stock Splits
Date
2024-09-30 00:00:00-04:00   80705700        0.0           0.0
2024-10-01 00:00:00-04:00   87397600        0.0           0.0
2024-10-02 00:00:00-04:00   93983900        0.0           0.0
2024-10-03 00:00:00-04:00   80729200        0.0           0.0
2024-10-04 00:00:00-04:00   86573200        0.0           0.0
2024-10-07 00:00:00-04:00   68113300        0.0           0.0
2024-10-08 00:00:00-04:00   56303200        0.0           0.0
2024-10-09 00:00:00-04:00   66289500        0.0           0.0
2024-10-10 00:00:00-04:00   83087100        0.0           0.0
2024-10-11 00:00:00-04:00  142628900        0.0           0.0
2024-10-14 00:00:00-04:00   86291900        0.0           0.0
2024-10-15 00:00:00-04:00   62988800        0.0           0.0
2024-10-16 00:00:00-04:00   49632800        0.0           0.0
2024-10-17 00:00:00-04:00   50791800        0.0           0.0
2024-10-18 00:00:00-04:00   49611900        0.0           0.0
2024-10-21 00:00:00-04:00   47329000        0.0           0.0
2024-10-22 00:00:00-04:00   43268700        0.0           0.0
2024-10-23 00:00:00-04:00   80938900        0.0           0.0
2024-10-24 00:00:00-04:00  204491900        0.0           0.0
2024-10-25 00:00:00-04:00  161611900        0.0           0.0
2024-10-28 00:00:00-04:00  107093500        0.0           0.0

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [24]:
historial_tesla.reset_index(inplace=True)

# Mostrar las primeras cinco filas
print(historial_tesla.head())

                       Date        Open        High         Low       Close  \
0 2024-09-30 00:00:00-04:00  259.040009  264.859985  255.770004  261.630005
1 2024-10-01 00:00:00-04:00  262.670013  263.980011  248.529999  258.019989
2 2024-10-02 00:00:00-04:00  247.550003  251.160004  241.500000  249.020004
3 2024-10-03 00:00:00-04:00  244.479996  249.789993  237.809998  240.660004
4 2024-10-04 00:00:00-04:00  246.690002  250.960007  244.580002  250.080002

     Volume  Dividends  Stock Splits
0  80705700        0.0           0.0
1  87397600        0.0           0.0
2  93983900        0.0           0.0
3  80729200        0.0           0.0
4  86573200        0.0           0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [25]:
html_data="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [26]:
!pip install bs4
from bs4 import BeautifulSoup

Requirement already satisfied: bs4 in /opt/conda/lib/python3.11/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.11/site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.11/site-packages (from beautifulsoup4->bs4) (2.5)

In [27]:
response = requests.get(html_data)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html5lib')  # Puedes cambiar a 'html.parser' si prefieres
    #print(soup.prettify())
    print("OK")
else:
    print("Error al obtener el contenido de la página")

#soup = BeautifulSoup(html_data, 'html.parser')

OK

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Step-by-step instructions</summary>

```

Here are the step-by-step instructions:

1. Create an Empty DataFrame
2. Find the Relevant Table
3. Check for the Tesla Quarterly Revenue Table
4. Iterate Through Rows in the Table Body
5. Extract Data from Columns
6. Append Data to the DataFrame

```
</details>

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1

We are focusing on quarterly revenue in the lab.
```

</details>

In [28]:
#1. Create an Empty DataFrame 
tesla_revenue = pd.DataFrame(columns=['Quarter','Revenue'])

print(tesla_revenue)

Empty DataFrame
Columns: [Quarter, Revenue]
Index: []

In [29]:
#2. Find the Relevant Table
tablas = soup.find_all("table")

# Listar las tablas encontradas
for i, tabla in enumerate(tablas, 1):
    print(f"Tabla {i} class:", tabla.get("class"))

    encabezados = tabla.find_all("th")
    for th in encabezados:
        print("Encabezado <th>:", th.get_text())
    
    print("\n")

Tabla 1 class: ['historical_data_table', 'table']
Encabezado <th>: Tesla Annual Revenue(Millions of US $)


Tabla 2 class: ['historical_data_table', 'table']
Encabezado <th>: Tesla Quarterly Revenue(Millions of US $)


Tabla 3 class: ['historical_data_table', 'table']
Encabezado <th>: Sector
Encabezado <th>: Industry
Encabezado <th>: Market Cap
Encabezado <th>: Revenue


Tabla 4 class: ['historical_data_table', 'table']
Encabezado <th>: Stock Name
Encabezado <th>: Country
Encabezado <th>: Market Cap
Encabezado <th>: PE Ratio


Tabla 5 class: ['table']
Encabezado <th>: Link Preview
Encabezado <th>: HTML Code (Click to Copy)


Tabla 6 class: ['table']
Encabezado <th>: Link Preview
Encabezado <th>: HTML Code (Click to Copy)

In [30]:

# Lista para almacenar los datos de la tabla
data = []

# Buscar todas las tablas en el documento HTML
tablas = soup.find_all("table")

# Recorrer las tablas para encontrar la que contiene el encabezado deseado
for tabla in tablas:
    encabezado = tabla.find("th")
    
    # Verificar si la tabla tiene el encabezado deseado
    if encabezado and "Tesla Quarterly Revenue(Millions of US $)" in encabezado.get_text():
        print("Encabezado encontrado:", encabezado.get_text())
        
        # Extraer todas las filas de datos de la tabla
        filas = tabla.find_all("tr")[1:]  # Ignorar la fila de encabezado
        
        for fila in filas:
            # Obtener todas las celdas de datos en la fila
            celdas = fila.find_all("td")
            if celdas:
                # Añadir los datos de la fila a la lista de datos
                fila_data = [celda.get_text().strip() for celda in celdas]
                data.append(fila_data)
        break

# Crear el DataFrame
df = pd.DataFrame(data, columns=["Quarter", "Revenue"])  # Asigna los nombres de columna según los datos de la tabla

# Mostrar el DataFrame
print(df)

Encabezado encontrado: Tesla Quarterly Revenue(Millions of US $)
       Quarter  Revenue
0   2022-09-30  $21,454
1   2022-06-30  $16,934
2   2022-03-31  $18,756
3   2021-12-31  $17,719
4   2021-09-30  $13,757
5   2021-06-30  $11,958
6   2021-03-31  $10,389
7   2020-12-31  $10,744
8   2020-09-30   $8,771
9   2020-06-30   $6,036
10  2020-03-31   $5,985
11  2019-12-31   $7,384
12  2019-09-30   $6,303
13  2019-06-30   $6,350
14  2019-03-31   $4,541
15  2018-12-31   $7,226
16  2018-09-30   $6,824
17  2018-06-30   $4,002
18  2018-03-31   $3,409
19  2017-12-31   $3,288
20  2017-09-30   $2,985
21  2017-06-30   $2,790
22  2017-03-31   $2,696
23  2016-12-31   $2,285
24  2016-09-30   $2,298
25  2016-06-30   $1,270
26  2016-03-31   $1,147
27  2015-12-31   $1,214
28  2015-09-30     $937
29  2015-06-30     $955
30  2015-03-31     $940
31  2014-12-31     $957
32  2014-09-30     $852
33  2014-06-30     $769
34  2014-03-31     $621
35  2013-12-31     $615
36  2013-09-30     $431
37  2013-06-30     $405
38  2013-03-31     $562
39  2012-12-31     $306
40  2012-09-30      $50
41  2012-06-30      $27
42  2012-03-31      $30
43  2011-12-31      $39
44  2011-09-30      $58
45  2011-06-30      $58
46  2011-03-31      $49
47  2010-12-31      $36
48  2010-09-30      $31
49  2010-06-30      $28
50  2010-03-31      $21
51  2009-12-31
52  2009-09-30      $46
53  2009-06-30      $27

In [35]:
# Lista para almacenar los datos de la tabla
data = []

# Buscar todas las tablas en el documento HTML
tablas = soup.find_all("table")

# Recorrer las tablas para encontrar la que contiene el encabezado deseado
for tabla in tablas:
    encabezado = tabla.find("th")
    
    # Verificar si la tabla tiene el encabezado deseado
    if encabezado and "Stock Name" in encabezado.get_text():
        print("Encabezado encontrado:", encabezado.get_text())
        
        # Extraer todas las filas de datos de la tabla
        filas = tabla.find_all("tr")[1:]  # Ignorar la fila de encabezado
        
        for fila in filas:
            # Obtener todas las celdas de datos en la fila
            celdas = fila.find_all("td")
            if celdas:
                # Añadir los datos de la fila a la lista de datos
                fila_data = [celda.get_text().strip() for celda in celdas]
                data.append(fila_data)
        break

# Crear el DataFrame
tesla_data = pd.DataFrame(data, columns=["Car", "Country", "Price", "Rating"])  # Asigna los nombres de columna según los datos de la tabla
# Mostrar el DataFrame
print(tesla_data)

Encabezado encontrado: Stock Name
                       Car        Country     Price Rating
0      General Motors (GM)  United States  $53.930B   5.56
1           Ford Motor (F)  United States  $52.668B   8.09
2    Harley-Davidson (HOG)  United States   $6.762B   9.56
3            Polaris (PII)  United States   $6.267B  11.86
4                IAA (IAA)  United States   $5.134B  16.40
5             Fisker (FSR)  United States   $2.261B   0.00
6      Lion Electric (LEV)         Canada   $0.551B   0.00
7             Volta (VLTA)  United States   $0.071B   0.00
8       Bird Global (BRDS)  United States   $0.054B   0.00
9  Lightning EMotors (ZEV)  United States   $0.043B   0.00

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [15]:
print(df)

       Quarter  Revenue
0   2022-09-30  $21,454
1   2022-06-30  $16,934
2   2022-03-31  $18,756
3   2021-12-31  $17,719
4   2021-09-30  $13,757
5   2021-06-30  $11,958
6   2021-03-31  $10,389
7   2020-12-31  $10,744
8   2020-09-30   $8,771
9   2020-06-30   $6,036
10  2020-03-31   $5,985
11  2019-12-31   $7,384
12  2019-09-30   $6,303
13  2019-06-30   $6,350
14  2019-03-31   $4,541
15  2018-12-31   $7,226
16  2018-09-30   $6,824
17  2018-06-30   $4,002
18  2018-03-31   $3,409
19  2017-12-31   $3,288
20  2017-09-30   $2,985
21  2017-06-30   $2,790
22  2017-03-31   $2,696
23  2016-12-31   $2,285
24  2016-09-30   $2,298
25  2016-06-30   $1,270
26  2016-03-31   $1,147
27  2015-12-31   $1,214
28  2015-09-30     $937
29  2015-06-30     $955
30  2015-03-31     $940
31  2014-12-31     $957
32  2014-09-30     $852
33  2014-06-30     $769
34  2014-03-31     $621
35  2013-12-31     $615
36  2013-09-30     $431
37  2013-06-30     $405
38  2013-03-31     $562
39  2012-12-31     $306
40  2012-09-30      $50
41  2012-06-30      $27
42  2012-03-31      $30
43  2011-12-31      $39
44  2011-09-30      $58
45  2011-06-30      $58
46  2011-03-31      $49
47  2010-12-31      $36
48  2010-09-30      $31
49  2010-06-30      $28
50  2010-03-31      $21
51  2009-12-31
52  2009-09-30      $46
53  2009-06-30      $27

In [16]:
#tesla_revenue["Revenue"] = df['Revenue'].str.replace(',|\$',"")
tesla_revenue = df[["Revenue"]].copy()
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"", regex=True)

Execute the following lines to remove an null or empty strings in the Revenue column.

In [39]:
tesla_data.dropna(inplace=True)
print(tesla_data.head())

                     Car        Country     Price Rating
0    General Motors (GM)  United States  $53.930B   5.56
1         Ford Motor (F)  United States  $52.668B   8.09
2  Harley-Davidson (HOG)  United States   $6.762B   9.56
3          Polaris (PII)  United States   $6.267B  11.86
4              IAA (IAA)  United States   $5.134B  16.40

In [ ]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [40]:
print(tesla_revenue.tail())

   Revenue
48      31
49      28
50      21
52      46
53      27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [19]:
import yfinance as yf

# Crear el objeto Ticker para GameStop usando el símbolo 'GME'
gamestop_ticker = yf.Ticker("GME")

# Obtener información básica de la acción
gamestop_info = gamestop_ticker.info

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [20]:
# Extraer información histórica de la acción con el periodo máximo disponible
gme_data = gamestop_ticker.history(period="max")

# Mostrar las primeras filas del DataFrame
print(gme_data.head())

                               Open      High       Low     Close    Volume  \
Date
2002-02-13 00:00:00-05:00  1.620128  1.693350  1.603296  1.691666  76216000
2002-02-14 00:00:00-05:00  1.712707  1.716074  1.670626  1.683250  11021600
2002-02-15 00:00:00-05:00  1.683251  1.687459  1.658002  1.674834   8389600
2002-02-19 00:00:00-05:00  1.666418  1.666418  1.578047  1.607504   7410400
2002-02-20 00:00:00-05:00  1.615920  1.662210  1.603296  1.662210   6892800

                           Dividends  Stock Splits
Date
2002-02-13 00:00:00-05:00        0.0           0.0
2002-02-14 00:00:00-05:00        0.0           0.0
2002-02-15 00:00:00-05:00        0.0           0.0
2002-02-19 00:00:00-05:00        0.0           0.0
2002-02-20 00:00:00-05:00        0.0           0.0

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [21]:
# Restablecer el índice del DataFrame
gme_data.reset_index(inplace=True)

# Mostrar las primeras cinco filas del DataFrame
print(gme_data.head())

                       Date      Open      High       Low     Close    Volume  \
0 2002-02-13 00:00:00-05:00  1.620128  1.693350  1.603296  1.691666  76216000
1 2002-02-14 00:00:00-05:00  1.712707  1.716074  1.670626  1.683250  11021600
2 2002-02-15 00:00:00-05:00  1.683251  1.687459  1.658002  1.674834   8389600
3 2002-02-19 00:00:00-05:00  1.666418  1.666418  1.578047  1.607504   7410400
4 2002-02-20 00:00:00-05:00  1.615920  1.662210  1.603296  1.662210   6892800

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data_2`.

In [22]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
data  = requests.get(url).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [23]:
soup = BeautifulSoup(data,"html.parser")

In [24]:
tablas = soup.find_all("table")

# Listar las tablas encontradas
for i, tabla in enumerate(tablas, 1):
    print(f"Tabla {i} class:", tabla.get("class"))

    encabezados = tabla.find_all("th")
    for th in encabezados:
        print("Encabezado <th>:", th.get_text())
    
    print("\n")

Tabla 1 class: ['historical_data_table', 'table']
Encabezado <th>: GameStop Annual Revenue(Millions of US $)


Tabla 2 class: ['historical_data_table', 'table']
Encabezado <th>: GameStop Quarterly Revenue(Millions of US $)


Tabla 3 class: ['historical_data_table', 'table']
Encabezado <th>: Sector
Encabezado <th>: Industry
Encabezado <th>: Market Cap
Encabezado <th>: Revenue


Tabla 4 class: ['historical_data_table', 'table']
Encabezado <th>: Stock Name
Encabezado <th>: Country
Encabezado <th>: Market Cap
Encabezado <th>: PE Ratio


Tabla 5 class: ['table']
Encabezado <th>: Link Preview
Encabezado <th>: HTML Code (Click to Copy)


Tabla 6 class: ['table']
Encabezado <th>: Link Preview
Encabezado <th>: HTML Code (Click to Copy)

In [25]:
# Lista para almacenar los datos de la tabla
data = []

# Buscar todas las tablas en el documento HTML
tablas = soup.find_all("table")

# Recorrer las tablas para encontrar la que contiene el encabezado deseado
for tabla in tablas:
    encabezado = tabla.find("th")
    
    # Verificar si la tabla tiene el encabezado deseado
    if encabezado and "GameStop Annual Revenue(Millions of US $)" in encabezado.get_text():
        print("Encabezado encontrado:", encabezado.get_text())
        
        # Extraer todas las filas de datos de la tabla
        filas = tabla.find_all("tr")[1:]  # Ignorar la fila de encabezado
        
        for fila in filas:
            # Obtener todas las celdas de datos en la fila
            celdas = fila.find_all("td")
            if celdas:
                # Añadir los datos de la fila a la lista de datos
                fila_data = [celda.get_text().strip() for celda in celdas]
                data.append(fila_data)
        break

# Crear el DataFrame
df = pd.DataFrame(data, columns=["Quarter", "Revenue"])  # Asigna los nombres de columna según los datos de la tabla

# Mostrar el DataFrame
print(df)

Encabezado encontrado: GameStop Annual Revenue(Millions of US $)
   Quarter Revenue
0     2020  $6,466
1     2019  $8,285
2     2018  $8,547
3     2017  $7,965
4     2016  $9,364
5     2015  $9,296
6     2014  $9,040
7     2013  $8,887
8     2012  $9,551
9     2011  $9,474
10    2010  $9,078
11    2009  $8,806
12    2008  $7,094
13    2007  $5,319
14    2006  $3,092
15    2005  $1,843

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column.

> **Note: Use the method similar to what you did in question 2.**

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [26]:
tablas = soup.find_all("tbody")[0]
for i, tabla in enumerate(tablas, 1):
    print(f"Tabla {i} :", tabla)

Tabla 1 :

Tabla 2 : <tr>
<td style="text-align:center">2020</td>
<td style="text-align:center">$6,466</td>
</tr>
Tabla 3 :

Tabla 4 : <tr>
<td style="text-align:center">2019</td>
<td style="text-align:center">$8,285</td>
</tr>
Tabla 5 :

Tabla 6 : <tr>
<td style="text-align:center">2018</td>
<td style="text-align:center">$8,547</td>
</tr>
Tabla 7 :

Tabla 8 : <tr>
<td style="text-align:center">2017</td>
<td style="text-align:center">$7,965</td>
</tr>
Tabla 9 :

Tabla 10 : <tr>
<td style="text-align:center">2016</td>
<td style="text-align:center">$9,364</td>
</tr>
Tabla 11 :

Tabla 12 : <tr>
<td style="text-align:center">2015</td>
<td style="text-align:center">$9,296</td>
</tr>
Tabla 13 :

Tabla 14 : <tr>
<td style="text-align:center">2014</td>
<td style="text-align:center">$9,040</td>
</tr>
Tabla 15 :

Tabla 16 : <tr>
<td style="text-align:center">2013</td>
<td style="text-align:center">$8,887</td>
</tr>
Tabla 17 :

Tabla 18 : <tr>
<td style="text-align:center">2012</td>
<td style="text-align:center">$9,551</td>
</tr>
Tabla 19 :

Tabla 20 : <tr>
<td style="text-align:center">2011</td>
<td style="text-align:center">$9,474</td>
</tr>
Tabla 21 :

Tabla 22 : <tr>
<td style="text-align:center">2010</td>
<td style="text-align:center">$9,078</td>
</tr>
Tabla 23 :

Tabla 24 : <tr>
<td style="text-align:center">2009</td>
<td style="text-align:center">$8,806</td>
</tr>
Tabla 25 :

Tabla 26 : <tr>
<td style="text-align:center">2008</td>
<td style="text-align:center">$7,094</td>
</tr>
Tabla 27 :

Tabla 28 : <tr>
<td style="text-align:center">2007</td>
<td style="text-align:center">$5,319</td>
</tr>
Tabla 29 :

Tabla 30 : <tr>
<td style="text-align:center">2006</td>
<td style="text-align:center">$3,092</td>
</tr>
Tabla 31 :

Tabla 32 : <tr>
<td style="text-align:center">2005</td>
<td style="text-align:center">$1,843</td>
</tr>
Tabla 33 :

In [41]:
tabla = soup.find_all("tbody")[0]
for fila in tabla.find_all("tr")[1:]:  
    celdas = fila.find_all("td")
    if celdas:
        fila_data = [celda.get_text().strip() for celda in celdas]
        data.append(fila_data)

gme_revenue = pd.DataFrame(data, columns=["Quarter", "Revenue"])  
print(gme_revenue.tail())

   Quarter Revenue
41    2009  $8,806
42    2008  $7,094
43    2007  $5,319
44    2006  $3,092
45    2005  $1,843

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [28]:
print(gme_revenue.tail())

   Quarter Revenue
26    2009  $8,806
27    2008  $7,094
28    2007  $5,319
29    2006  $3,092
30    2005  $1,843

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`.

```
    
</details>

In [38]:

#tesla_data.rename(columns={"Quarter": "Date"}, inplace=True)
print(tesla_data.columns)

Index(['Date'], dtype='object')

In [39]:
print(tesla_revenue.columns)

Index(['Revenue'], dtype='object')

In [37]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

AttributeError: 'DataFrame' object has no attribute 'Date'

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`

```
    
</details>

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>